<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Search Engine</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
	
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
    <link href="../../../resources/css/core.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/theme.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/theme.css}" />
    <script src="../../../resources/js/jquery.min.js"
            th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js"
            th:src="@{/resources/js/bootstrap.min.js}"></script>
    <!--autocomplete -->
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.2.js"> </script>
    <script type="text/javascript"
            src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"> </script>
    <link rel="stylesheet"
          href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript"
            src="${pageContext.request.contextPath}/resources/js/autoComplete.js"></script>
    <!--end -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script
            src="../../../resources/easyautocomplete/jquery.easy-autocomplete.min.js"></script>
    <link rel="stylesheet"
          href="../../../resources/easyautocomplete/easy-autocomplete.min.css">
    <link rel="stylesheet"
          href="../../../resources/easyautocomplete/easy-autocomplete.themes.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <!-- easy pagination -->
    <script
    	src="../../..//resources/jquery.easyPaginate/lib/jquery.easyPaginate.js"></script>
    <style>
	#easyPaginate img {display:block;margin-bottom:10px;}
	.easyPaginateNav a {margin-left:30px;padding:5px;}
	.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}
    </style>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div style="margin-left: 50px; height: 100%;">
		<form style="margin-top: 2%;" method="post"
			th:action="@{searchEngine}" th:object="${searchEngineForm}"
			th:fragment="searchEngineForm">
			<div class="col-lg-4 height: 100%" style="background-color: silver;">
				<div class="form-group">
					<div class="row" style="margin-top: 30px;">
						<label for="console" class="col-lg-4  control-label"
							style="font-size: 15px; text-align: center;">Console</label>
						<div class="col-lg-7">
							<input id="console" class="form-control"
								style="font-size: 15px; text-align: center;"
								placeholder="console" th:field="*{console}" />
						</div>
					</div>
					<div class="row" style="margin-top: 30px;">
						<label for="name" class="col-lg-4 control-label"
							style="font-size: 15px; text-align: center;">Name</label>
						<div class="col-lg-7">
							<input id="name" class="form-control"
								style="font-size: 15px; text-align: center;" placeholder="name"
								th:field="*{name}" />
						</div>
					</div>

					<div class="row" style="margin-top: 30px;">
						<label for="score" class="col-lg-4 control-label"
							style="font-size: 15px; text-align: center;">Score (0 to 100)</label>
						<div class="col-lg-3">
							<input id="minscore" class="form-control"
								style="font-size: 15px; text-align: center;"
								placeholder="minscore" th:field="*{minscore}" />
						</div>
						<div class="col-lg-2">
							<span>between</span>
						</div>
						<div class="col-lg-3">
							<input id="maxscore" class="form-control"
								style="font-size: 15px; text-align: center;"
								placeholder="maxscore" th:field="*{maxscore}" />
						</div>
					</div>
					<div class="row" style="margin-top: 30px;">
						<label for="userscore" class="col-lg-4 control-label"
							style="font-size: 15px; text-align: center;">User Score (0.0 to 10.0)</label>
						<div class="col-lg-3">
							<input id="minuserscore" class="form-control"
								style="font-size: 15px; text-align: center;"
								placeholder="minuserscore" th:field="*{minuserscore}" />
						</div>
						<div class="col-lg-2">
							<span>between</span>
						</div>
						<div class="col-lg-3">
							<input id="maxuserscore" class="form-control"
								style="font-size: 15px; text-align: center;"
								placeholder="maxuserscore" th:field="*{maxuserscore}" />
						</div>
					</div>
					<div class="row" style="margin-top: 30px;">
						<label for="developer" class="col-lg-4 control-label"
							style="font-size: 15px; text-align: center;">Developer</label>
						<div class="col-lg-7">
							<input id="developer" class="form-control"
								style="font-size: 15px; text-align: center;"
								placeholder="developer" th:field="*{developer}" />
						</div>
					</div>
				</div>

				<div class="row" style="margin-top: 30px; margin-bottom: 15px;">
					<div class="col-lg-5"></div>
					<div class="col-lg-4">
						<button type="submit"
							style="align-items: center; font-size: 15px;"
							class="btn btn-primary">Search</button>
					</div>
				</div>
			</div>
		</form>
		<div class="col-lg-8">
			<ul id="easyPaginate">
			<li th:each="videogame : ${videogames}">
				<div class="row" style="margin-left: 20px;">
					<div class="col-lg-2" style="margin-bottom: 20px;">
						<a th:href="${videogame.url}"> <img
							th:src="${videogame.picture}"></img>
						</a>
					</div>
					<div class="col-lg-10"
						style="margin-bottom: 20px; text-align: left;">
						<a th:href="${videogame.url}">
							<div class="row">
								<mark>
									<span th:text="${videogame.name}"></span>
								</mark>
							</div>
						</a>
						<div class="row" style="">
							<span th:text="'Consola: '+${videogame.console}"></span>
						</div>
						<div class="row">
							<span th:text="'Puntuación: '+ ${videogame.score}"></span>
						</div>
						<div class="row">
							<span
								th:text="'Puntuación de los Usuarios '+ ${videogame.userscore}"></span>
						</div>
						<div class="row">
							<span th:text="'Desarrollador '+ ${videogame.developer}"></span>
						</div>

					</div>
				</div>

			</li>
			</ul>
		</div>

	</div>
	
<script th:inline="javascript">

    var message = [[${list}]];
    var options = {
        data: Array.from(message),
        list: {
            match: {
                enabled: true
            }
        }
    };

    $("#console").easyAutocomplete(options);

</script>

<script type="text/javascript">
  
$('#easyPaginate').easyPaginate({
    elementsPerPage: 4,
    effect: 'climb'
});
  
</script>	
</body>
</html>